@tailwind base;
/* @tailwind components; */

body {
  width: 100%;
  padding: 0% !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* @layer components {
    .btn {
        @apply bg-amber-900 text-white px-3 py-2 rounded-md text-sm text-white;
    }

    .banner {
        @apply p-0;
    }
} */

@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
