@tailwind base;
@tailwind components;

body {
  overflow-x: hidden;
  font-family: Phudu;
}

@layer components {
  /*------------- Navbar component Layout----------------- */
  .navbar {
    @apply flex flex-col w-full;
  }
  /* Nav contact info -> Phone # & Mail @ */
  .nav-contact-info {
    @apply w-screen;
    @apply pr-0 pl-0;
    @apply flex flex-row justify-evenly;
    @apply bg-black text-white;
  }
  .nav-contact-info div {
    @apply hidden;
    @apply sm:flex;
  }
  .nav-contact-info a {
    @apply hover:text-[#e42b00] ease-in duration-300;
  }
  .nav-contact-info img {
    @apply mr-4;
  }
  /* Main Navbar */
  .navbar-section {
    @apply flex items-center justify-evenly -mb-3;
  }
  /* Logo */
  .navbar-section .logo img {
    @apply h-32 w-auto;
    @apply hover:scale-[1.15] ease-in duration-300;
  }
  /* Mobile hamburger Menu */
  .mobile-menu {
    @apply flex;
    @apply md:hidden;
  }
  .mobile-menu svg {
    @apply h-8 w-8;
    @apply md:h-10 md:w-10;
    @apply fill-current text-black;
  }
  /* Main Navbar Link & Button*/
  .main-nav {
    /* @apply hidden; */
    @apply md:block;
  }
  .main-nav ul {
    @apply flex space-x-8 text-sm font-sans
  }
  .main-nav ul li .custom-link {
    @apply hover:border-b-2 hover:border-[#e42b00] ease-in duration-100 pb-1;
  }
  .main-nav ul li .nav-btn {
    @apply text-white text-lg font-bold;
    @apply border-2 border-black bg-[#e42b00];
    @apply hover:text-black ease-in duration-100;
    @apply ml-10 py-4 px-6 rounded-none;
  }
  /* Mobile Link */
  .custom-mobile-link {
    @apply my-4 inline-block;
    @apply hover:border-b-2 hover:border-[#e42b00] ease-in duration-200;
  }
  .mobile-btn {
    @apply text-white text-lg font-bold;
    @apply border-2 border-black bg-[#e42b00];
    @apply hover:text-black ease-in duration-100;
    @apply ml-10 py-4 px-6 rounded-none;
  }
  /* ----------------------------------------------- */
  /*------------- Banner component ----------------- */
  /* div background */
  .bg-banner {
    @apply w-full flex flex-col;
    @apply relative items-center justify-center;
    @apply bg-[#171717] bg-center bg-fixed border-4 border-black;
    @apply mt-0 pr-0;
  }

  .bg-banner::before {
    @apply bg-fixed bg-top bg-cover bg-no-repeat;
    @apply absolute top-0 right-0 bottom-0 left-0 opacity-50;
  }

/* div banner */
  .banner {
    @apply relative w-2/3;
    @apply m-2;
    @apply sm:m-8;
    @apply md:m-10;
    @apply lg:m-12;
    @apply xl:m-16;
    @apply 2xl:m-20;
  }

/* h2 title */
  .banner h2 {
    @apply text-white uppercase text-justify;

    /* Margin Bottom h2 */
    @apply 2xl:mb-20 xl:mb-16 lg:mb-12 mb-10;

    /* Width h2 */
    @apply 2xl:w-2/3 xl:w-3/4;

    /* h2 Title Position */
    @apply text-center;
    @apply lg:text-start;

    /* Font Size h2 */
    @apply text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }

  .banner h2 span {
     @apply text-[#e42b00] font-black;
  }

  .banner p {
    @apply text-white uppercase;

    /* Font Size p */
    @apply text-xl;
    @apply xl:text-2xl;

  }

  /* Button | Link */
  .banner-btn {
    @apply flex flex-row items-start relative;
    @apply border-4 border-[#E42B00] rounded-none bg-black bg-opacity-40;
    @apply hover:bg-opacity-100 ease-in duration-300;
    @apply px-6 py-4;
  }
  .banner-btn a {
    @apply bg-transparent;
    @apply text-white font-bold uppercase text-lg;
    @apply hover:text-[#e42b00] hover:scale-[1.15] ease-in duration-300;
  }
  .banner-btn a img {
    @apply mr-2 w-8 items-center justify-center;
    @apply hover:scale-[1.25] ease-in duration-300;

    /* display phone logo*/
    @apply hidden;
    @apply sm:hidden;
    @apply lg:flex;
  }
  /* ----------------------------------------------- */
  /* ------------- About component ----------------- */
  .about-container {
    @apply  w-full h-full flex justify-center items-center;
    @apply mx-0;
    @apply sm:mx-10;
    @apply md:mx-12;
    @apply lg:mx-16;
    @apply xl:mx-20;
    @apply 2xl:mx-16;
    @apply my-10;
    @apply sm:my-12;
    @apply md:my-16;
    @apply lg:my-20;
    @apply xl:my-24;
    @apply flex-col;
    @apply md:flex-row;
  }
  .sub-container {
    @apply flex flex-col;
    @apply justify-start;
    @apply lg:justify-center;
    @apply items-center;
    @apply md:items-start;
    @apply w-full;
    @apply lg:w-2/5;  
  }
  .sub-container h4 {
    @apply text-lg font-bold text-[#E42B00];
    @apply mb-10;
  }
  .sub-container h3 {
    @apply text-black font-bold text-justify;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }
  .sub-container p {
    @apply text-black text-xl justify-center text-justify;
    @apply my-10;
    @apply w-3/4;
  }
  .sub-container a button {
    @apply text-white text-lg;
    @apply bg-[#e42b00] border-2 border-black rounded-none;
    @apply hover:text-black ease-in duration-200;
    @apply px-6 py-4;
  }

  /* Image container */
  .img-container {
    @apply hidden;
    @apply lg:flex;
    @apply w-2/5 justify-center;
  }
  /* ----------------------------------------------- */
  /* ------------ Services component --------------- */
  .bg-services {
    @apply w-full flex flex-col overflow-hidden;
    @apply relative items-center justify-center;
    @apply bg-[#171717] bg-center bg-fixed border-4 border-black;
    @apply mt-0 pr-0;
  }
  .bg-services::before {
    @apply bg-fixed bg-top bg-cover bg-no-repeat;
    @apply absolute top-0 right-0 bottom-0 left-0 opacity-50;
  }
  .service-title-div {
    @apply flex flex-col;
    @apply justify-center;
    @apply w-full;
    @apply sm:w-3/5;
  }
  .service-title-div h3 {
    @apply relative text-center text-white font-bold;
    @apply my-10;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }
  .service-title-div h3 span {
    @apply text-[#E42B00] font-black;
  }
  .service-title-div p {
    @apply relative text-white text-center;
    @apply mb-10;
    @apply text-xl;
    @apply xl:text-2xl;
  }
  .service-img-div {
    @apply justify-center;
    @apply mb-12;
    @apply flex;
    @apply flex-col;
    @apply md:flex-row;
  }
  .service-img-div div {
    @apply flex flex-col;
    @apply w-full;
    @apply md:w-1/3;
    @apply mx-0;
    @apply md:mx-4;
    @apply bg-white border-2 border-black relative;
  }
  .service-info {
    @apply font-bold text-center;
    @apply h-10;
    @apply text-2xl;
  }
  /* ----------------------------------------------- */

  /* ------------ Contact Us component ------------- */
  .bg-contact-us {
    @apply w-full flex flex-col overflow-hidden;
    @apply relative items-center justify-center;
    @apply bg-[#171717] bg-center bg-fixed border-4 border-black;
    @apply mt-0 pr-0;
    @apply mb-4;
    @apply md:mb-10;
    @apply lg:mb-20;
  }
  .bg-contact-us::before {
    @apply bg-fixed bg-top bg-cover bg-no-repeat;
    @apply absolute top-0 right-0 bottom-0 left-0 opacity-50;
  }
  .bg-contact-us div {
    @apply flex flex-col;
    @apply text-justify justify-center;
    @apply items-center;
    @apply md:items-start;
    @apply w-5/6;
    @apply md:w-2/3;
    @apply lg:w-1/2;
  }
  .bg-contact-us div h2 {
    @apply relative text-white text-center;
    @apply justify-center items-center;
    @apply mb-8;
    @apply md:mb-12;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }
  .bg-contact-us div h2 span {
    @apply text-[#E42B00] font-black;
  }
  .bg-contact-us div p {
    @apply relative;
    @apply text-white font-bold;
    @apply text-lg;
    @apply md:text-xl;
    @apply mb-6;
    @apply md:mb-10;
  }
  .contact-us-btn {
    @apply relative;
    @apply text-white text-lg;
    @apply bg-[#e42b00] border-2 border-black rounded-none;
    @apply hover:text-black ease-in duration-200;
    @apply px-6 py-4;
  }
  /* ----------------------------------------------- */
  
  /* ----------- Footer component layout ----------- */
  .footer-container {
    @apply flex-col;
    @apply bg-black;
    @apply border-t-2 border-[#E42B00];
    @apply py-4;
    @apply sm:pt-10 sm:pb-4;
  }
  .footer-sub-container  {
    @apply flex flex-col;
    @apply sm:flex-row;
  }
  .footer-contact-info {
    @apply flex flex-col;
    @apply items-center;
    @apply w-full;
    @apply sm:w-1/2;
    @apply mb-6;
    @apply sm:mb-14;
  }
  .footer-contact-info h3 {
    @apply text-[#E42B00] mb-4;
  }
  .footer-contact-info p {
    @apply text-white;
    @apply mb-2;
    @apply sm:mb-4;
  }
  .footer-contact-info p a {
    @apply hover:text-[#e42b00] ease-in duration-200;
  }
  .footer-about-us {
    @apply flex flex-col;
    @apply items-center;
    @apply w-full;
    @apply sm:w-1/3;
  }
  .footer-about-us h3 {
    @apply text-[#E42B00];
    @apply mb-2;
    @apply sm:mb-4;
  }
  .footer-about-us p {
    @apply text-white text-justify;
    @apply px-4;
  }
  .footer-copyright {
    @apply flex flex-col;
    @apply text-center;
    @apply sm:text-left;
  }
  .footer-copyright p {
    @apply text-[#615E5E] text-xs text-center;
    @apply mt-4;
    @apply sm:mt-8;
  }

  /* ----------------------------------------------- */
  /* ------------------ Page About ----------------- */
  .about-page-container {
    @apply w-screen;
    @apply mb-32 mt-20;
    @apply px-4;
  }
  .bg-pageAboutImg {
    @apply h-[110vh];
    @apply sm:h-[80vh];
    @apply flex flex-col;
    @apply items-center;
    @apply justify-center;
    @apply bg-[#171717] bg-center bg-fixed border-4 border-black;
    @apply relative;
    @apply px-4;
    @apply w-full;
  }
  .bg-pageAboutImg::before {
    @apply bg-fixed bg-top bg-cover bg-no-repeat;
    @apply absolute top-0 right-0 bottom-0 left-0 opacity-50;
  }
  .bg-pageAboutImg div {
    @apply items-center;
    @apply justify-center;
    @apply text-justify;
    @apply w-full;
    @apply md:w-5/6;
    @apply lg:w-1/2;
  }
  .about-page-container h2 {
    @apply hidden;
    @apply sm:block;
    @apply relative text-white text-center;
    @apply justify-start;
    @apply mb-8;
    @apply md:mb-12;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }
  .about-page-container h3 {
    @apply text-[#E42B00];
    @apply relative;
    @apply justify-start;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply mb-6;
    @apply md:mb-10;
  }
  .about-page-container p {
    @apply relative;
    @apply text-white;
    @apply text-base;
    @apply sm:text-lg;
  }
  /* ----------------------------------------------- */
  


}

@tailwind utilities;

* {
  /* padding: 0;
  margin: 0; */
}
